openapi: 3.1.0
info:
  title: pathscribe AI — Synoptic Template Service API
  version: 1.0.0
  description: |
    Backend API contract for the pathscribe AI clinical pathology reporting platform.
    Covers the Synoptic Template Editor sprint: protocol lifecycle management,
    review queue, audit logging, and terminology (SNOMED/ICD) validation.

    **Architecture note:** The frontend currently uses `PROTOCOL_REGISTRY` as an
    in-memory single source of truth with `localStorage` persistence under
    `ps_registry_overrides_v1`. These endpoints replace that mock layer.
  contact:
    name: PathScribe Platform Team
  license:
    name: Proprietary

servers:
  - url: https://api.pathscribe.io/v1
    description: Production
  - url: https://api.staging.pathscribe.io/v1
    description: Staging
  - url: http://localhost:4000/v1
    description: Local development

tags:
  - name: Protocols
    description: Synoptic template protocol CRUD and lifecycle management
  - name: Review Queue
    description: Pending review workflows and approvals
  - name: Audit
    description: Immutable audit trail for template events
  - name: Terminology
    description: SNOMED CT / ICD deprecation and validation endpoints
  - name: Users
    description: Auth context and user identity

# ─────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────
paths:

  # ── Protocols ──────────────────────────────────────────────

  /protocols:
    get:
      tags: [Protocols]
      operationId: listProtocols
      summary: List all protocols
      description: |
        Returns the full protocol registry. Supports filtering by status,
        specialty, and organ system. Used by `AllProtocolsSection` and
        `ActiveProtocolsSection` to hydrate the UI.
      parameters:
        - $ref: '#/components/parameters/StatusFilter'
        - $ref: '#/components/parameters/SpecialtyFilter'
        - $ref: '#/components/parameters/OrganFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Paginated list of protocols
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [Protocols]
      operationId: createProtocol
      summary: Create a new protocol draft
      description: |
        Creates a new protocol in `draft` status. Called by `SynopticEditor`
        on first save. Automatically records creator identity from JWT claims.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtocolCreateRequest'
      responses:
        '201':
          description: Protocol created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protocol'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /protocols/{protocolId}:
    parameters:
      - $ref: '#/components/parameters/ProtocolId'

    get:
      tags: [Protocols]
      operationId: getProtocol
      summary: Get a single protocol by ID
      responses:
        '200':
          description: Protocol detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protocol'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [Protocols]
      operationId: updateProtocol
      summary: Update a protocol (draft or active)
      description: |
        Full replacement update. If the protocol is `active`, a new version
        is created and the previous version is archived. Edits to `draft`
        protocols mutate in place. The `updatedBy` field is derived from JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtocolUpdateRequest'
      responses:
        '200':
          description: Updated protocol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protocol'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Version conflict — client must refresh before editing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Protocols]
      operationId: deleteProtocol
      summary: Soft-delete (archive) a protocol
      description: |
        Sets status to `archived`. Hard deletes are not permitted on published
        protocols. Drafts that have never been published may be hard-deleted
        by passing `?permanent=true` (admin only).
      parameters:
        - name: permanent
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Deleted
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /protocols/{protocolId}/status:
    parameters:
      - $ref: '#/components/parameters/ProtocolId'

    patch:
      tags: [Protocols]
      operationId: transitionProtocolStatus
      summary: Lifecycle status transition
      description: |
        Drives the protocol state machine:
        - `draft` → `in_review` (author submits for review)
        - `in_review` → `active` (reviewer approves)
        - `in_review` → `draft` (reviewer requests changes)
        - `active` → `archived` (admin deprecates)

        All transitions are validated server-side and appended to the audit log.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusTransitionRequest'
      responses:
        '200':
          description: Protocol with updated status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protocol'
        '422':
          description: Invalid status transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /protocols/{protocolId}/versions:
    parameters:
      - $ref: '#/components/parameters/ProtocolId'

    get:
      tags: [Protocols]
      operationId: listProtocolVersions
      summary: Get version history for a protocol
      responses:
        '200':
          description: List of versions, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProtocolVersion'

  # ── Review Queue ───────────────────────────────────────────

  /review-queue:
    get:
      tags: [Review Queue]
      operationId: getReviewQueue
      summary: List protocols pending review
      description: |
        Returns all protocols in `in_review` status. Filtered to the
        calling user's assigned specialty unless the caller has the
        `reviewer:all` permission. Used by `ReviewQueueSection`.
      parameters:
        - $ref: '#/components/parameters/SpecialtyFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Review queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /review-queue/{protocolId}/approve:
    parameters:
      - $ref: '#/components/parameters/ProtocolId'

    post:
      tags: [Review Queue]
      operationId: approveProtocol
      summary: Approve a protocol for activation
      description: |
        Transitions `in_review` → `active`. Reviewer identity is derived
        from JWT — replaces the `'Dr. Reviewer'` placeholder in `TemplateRenderer`.
        Optionally accepts review notes.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: Approved protocol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protocol'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Not in reviewable state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /review-queue/{protocolId}/reject:
    parameters:
      - $ref: '#/components/parameters/ProtocolId'

    post:
      tags: [Review Queue]
      operationId: rejectProtocol
      summary: Return a protocol to draft with change requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 10
                  maxLength: 2000
      responses:
        '200':
          description: Protocol returned to draft
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Protocol'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ── Audit ──────────────────────────────────────────────────

  /protocols/{protocolId}/audit:
    parameters:
      - $ref: '#/components/parameters/ProtocolId'

    get:
      tags: [Audit]
      operationId: getProtocolAuditLog
      summary: Get immutable audit trail for a protocol
      description: |
        Returns the ordered audit log consumed by `useSynopticAudit`.
        Replaces direct `logEvent()` calls in `TemplateRenderer`.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Audit]
      operationId: appendAuditEvent
      summary: Append a client-side audit event
      description: |
        Accepts structured events from `useSynopticAudit`. The server
        enriches each entry with a server-side timestamp, user identity
        from JWT, and an immutable `entryId`. Client timestamps are
        stored as `clientTimestamp` for reconciliation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditEventRequest'
      responses:
        '201':
          description: Audit entry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /audit/export:
    get:
      tags: [Audit]
      operationId: exportAuditLog
      summary: Export full audit log (CAP/CLIA compliance)
      description: |
        Exports the audit log for a date range as CSV or JSON.
        Required for CAP and CLIA compliance reporting.
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json]
            default: csv
        - name: protocolId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Audit export file
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditEntry'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ── Terminology ────────────────────────────────────────────

  /terminology/validate:
    post:
      tags: [Terminology]
      operationId: validateTerminologyCodes
      summary: Validate SNOMED CT / ICD codes in a protocol
      description: |
        Accepts an array of terminology codes from a protocol's fields and
        returns validation status for each — including deprecation warnings,
        replacement suggestions, and effective dates. Used to power
        SNOMED/ICD deprecation alerts in the editor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminologyValidationRequest'
      responses:
        '200':
          description: Validation results per code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminologyValidationResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /terminology/search:
    get:
      tags: [Terminology]
      operationId: searchTerminology
      summary: Search SNOMED CT / ICD codes
      description: Typeahead search for use in the SynopticEditor field builder.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
        - name: system
          in: query
          schema:
            type: string
            enum: [snomed, icd10, icd11, loinc]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Matching codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TermCode'

  # ── Users / Auth ───────────────────────────────────────────

  /users/me:
    get:
      tags: [Users]
      operationId: getCurrentUser
      summary: Get the authenticated user's profile
      description: |
        Returns the identity used to populate `AuthContext`. Replaces
        the `'Dr. Reviewer'` hardcoded placeholder throughout the UI.
        Frontend should call this on app init and cache in `AuthContext`.
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ─────────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────────
components:

  # ── Security ───────────────────────────────────────────────
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT issued by the PathScribe identity provider.
        Claims must include: `sub` (userId), `name`, `email`,
        `role` (one of: `author | reviewer | admin`), `npi` (optional),
        `specialty` (optional).

security:
  - BearerAuth: []

  # ── Parameters ─────────────────────────────────────────────
  parameters:
    ProtocolId:
      name: protocolId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    StatusFilter:
      name: status
      in: query
      schema:
        type: string
        enum: [draft, in_review, active, archived]

    SpecialtyFilter:
      name: specialty
      in: query
      schema:
        type: string
        example: surgical_pathology

    OrganFilter:
      name: organSystem
      in: query
      schema:
        type: string
        example: colorectal

    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
        maximum: 100

  # ── Schemas ────────────────────────────────────────────────
  schemas:

    # ── Protocol ─────────────────────────────────────────────
    Protocol:
      type: object
      required: [id, name, status, version, createdBy, createdAt, updatedAt, fields]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Colorectal Adenocarcinoma Synoptic Report
        description:
          type: string
        status:
          $ref: '#/components/schemas/ProtocolStatus'
        version:
          type: integer
          minimum: 1
          description: Monotonically increasing version counter
        specialty:
          type: string
          example: surgical_pathology
        organSystem:
          type: string
          example: colorectal
        createdBy:
          $ref: '#/components/schemas/UserRef'
        updatedBy:
          $ref: '#/components/schemas/UserRef'
        reviewedBy:
          $ref: '#/components/schemas/UserRef'
        reviewedAt:
          type: string
          format: date-time
        reviewNotes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        archivedAt:
          type: string
          format: date-time
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ProtocolField'
        terminologyAlerts:
          type: array
          description: Pre-computed deprecation alerts; populated on fetch if codes are stale
          items:
            $ref: '#/components/schemas/TerminologyAlert'

    ProtocolStatus:
      type: string
      enum: [draft, in_review, active, archived]
      description: |
        State machine:
        draft → in_review → active → archived
        in_review → draft (rejection)

    ProtocolField:
      type: object
      required: [id, label, type]
      properties:
        id:
          type: string
        label:
          type: string
        type:
          type: string
          enum: [text, select, multiselect, radio, checkbox, numeric, date, terminology]
        required:
          type: boolean
          default: false
        options:
          type: array
          items:
            type: string
        terminologyCode:
          $ref: '#/components/schemas/TermCode'
        helpText:
          type: string
        order:
          type: integer

    ProtocolVersion:
      type: object
      properties:
        version:
          type: integer
        status:
          $ref: '#/components/schemas/ProtocolStatus'
        updatedBy:
          $ref: '#/components/schemas/UserRef'
        updatedAt:
          type: string
          format: date-time
        changesSummary:
          type: string

    ProtocolCreateRequest:
      type: object
      required: [name, fields]
      properties:
        name:
          type: string
        description:
          type: string
        specialty:
          type: string
        organSystem:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ProtocolField'

    ProtocolUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/ProtocolCreateRequest'
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              description: Must match current server version (optimistic concurrency)

    StatusTransitionRequest:
      type: object
      required: [targetStatus]
      properties:
        targetStatus:
          $ref: '#/components/schemas/ProtocolStatus'
        notes:
          type: string
          maxLength: 2000

    ProtocolListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Protocol'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Audit ─────────────────────────────────────────────────
    AuditEntry:
      type: object
      required: [entryId, protocolId, eventType, performedBy, serverTimestamp]
      properties:
        entryId:
          type: string
          format: uuid
        protocolId:
          type: string
          format: uuid
        eventType:
          $ref: '#/components/schemas/AuditEventType'
        performedBy:
          $ref: '#/components/schemas/UserRef'
        serverTimestamp:
          type: string
          format: date-time
        clientTimestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Structured event-specific payload.
            e.g. for `field_edited`: { fieldId, previousValue, newValue }
            e.g. for `status_changed`: { from, to, notes }

    AuditEventType:
      type: string
      enum:
        - protocol_created
        - protocol_updated
        - field_added
        - field_edited
        - field_removed
        - status_changed
        - review_approved
        - review_rejected
        - version_published
        - protocol_archived
        - terminology_alert_acknowledged
        - report_exported

    AuditEventRequest:
      type: object
      required: [protocolId, eventType, clientTimestamp]
      properties:
        protocolId:
          type: string
          format: uuid
        eventType:
          $ref: '#/components/schemas/AuditEventType'
        clientTimestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    # ── Terminology ───────────────────────────────────────────
    TermCode:
      type: object
      required: [code, system, display]
      properties:
        code:
          type: string
          example: "363346000"
        system:
          type: string
          enum: [snomed, icd10, icd11, loinc]
        display:
          type: string
          example: Malignant neoplastic disease
        version:
          type: string
          example: "2024-03-01"

    TerminologyValidationRequest:
      type: object
      required: [codes]
      properties:
        codes:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TermCode'

    TerminologyValidationResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/TerminologyValidationResult'
        hasAlerts:
          type: boolean
          description: True if any code is deprecated or inactive

    TerminologyValidationResult:
      type: object
      required: [code, system, status]
      properties:
        code:
          type: string
        system:
          type: string
        status:
          type: string
          enum: [active, deprecated, retired, unknown]
        effectiveDate:
          type: string
          format: date
          description: Date the code became inactive
        replacements:
          type: array
          description: Suggested replacement codes
          items:
            $ref: '#/components/schemas/TermCode'
        alert:
          $ref: '#/components/schemas/TerminologyAlert'

    TerminologyAlert:
      type: object
      properties:
        severity:
          type: string
          enum: [warning, error]
        message:
          type: string
          example: "SNOMED 363346000 was retired on 2024-01-31. Use 363346001 instead."
        fieldId:
          type: string
          description: The protocol field referencing this code

    # ── User / Auth ───────────────────────────────────────────
    User:
      type: object
      required: [id, name, email, role]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Dr. Sarah Chen
        email:
          type: string
          format: email
        role:
          type: string
          enum: [author, reviewer, admin]
        npi:
          type: string
          description: National Provider Identifier (10-digit)
          pattern: '^\d{10}$'
          example: "1234567890"
        specialty:
          type: string
          example: surgical_pathology
        avatarUrl:
          type: string
          format: uri
        lastLogin:
          type: string
          format: date-time

    UserRef:
      type: object
      description: Lightweight user reference embedded in other resources
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        role:
          type: string
          enum: [author, reviewer, admin]
        npi:
          type: string

    # ── Shared ────────────────────────────────────────────────
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: INVALID_STATUS_TRANSITION
            message:
              type: string
              example: Cannot transition from 'active' to 'draft'
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string

    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              type: object
              properties:
                code:
                  type: string
                  example: VALIDATION_ERROR

  # ── Responses ─────────────────────────────────────────────
  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Authenticated but insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Request body failed validation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
